# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Gangwars.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Solid_Snake\Documents\[VenoX-Scripting-Service]\altV-Gangwars\.idea\.idea.Gangwars\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
